@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.main-link {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  cursor: pointer;
  background-color: #F9C06A;
  border-radius: 30px;
  padding: 14px 27px;
  text-decoration: none;
  color: variables.$main-black;
  display: block;
  max-width: max-content;
}