@use '@/assets/styles/variables';
@use '@/assets/styles/mixins';

.about-block {
  padding: 20px 0;

  @include mixins.vp-744 {
    padding: 0 0 80px 0;
  }

  &__card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;

    @include mixins.vp-744 {
      row-gap: 50px;
      column-gap: 35px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include mixins.vp-1024 {
      row-gap: 60px;
      column-gap: 35px;
    }

    @include mixins.vp-1200 {
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}
