@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.advantage-block {
  padding: 40px 0 0 0;
  position: relative;

  @include mixins.vp-744 {
    padding: 82px 0 0 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-bottom: 30px;

    @include mixins.vp-744 {
      justify-content: center; 
      margin-bottom: 20px;
    }
  }

  &__text {
    max-width: none;

  @include mixins.vp-744 {
      flex: 1; // Заставляем текст занимать 50% доступного места
    }
  }

  &__left-wave {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;

    @include mixins.vp-744 {
      transform: rotate(140deg);
     top: 26%;
      right: -15%;
    }

    @include mixins.vp-915 {
      top: 50%;
      left: 0;
      transform: none;
    }
  }

  &__image {
    display: none;

    @include mixins.vp-744 {
      display: flex;
      flex: 1;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}    