@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.advantage-block {
  padding: 82px 0 0 0;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    max-width: 585px;
  }

  &__left-wave {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
  }
}    