@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.header {
  padding: 16px 0;

  @include mixins.vp-744 {
    padding: 24px 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr 0.7fr;
  }
}