@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.header {
  padding: 16px 0;
  position: relative;
  z-index: 100;

  @include mixins.vp-744 {
    padding: 24px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__logo {
    flex-shrink: 0;
    
    img {
      display: block;
      max-width: 150px;
      height: auto;
    }

    @include mixins.vp-744 {
      max-width: 200px;
    }
  }
}