@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.sign-buttons {
  display: none;

  @include mixins.vp-744 {
    display: block;
  }

  &__sign-list {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    list-style-type: none;

    @include mixins.vp-1024 {
      gap: 35px;
    }
  }

  &__sign-in, &__sign-up {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    cursor: pointer;
    white-space: nowrap;
  }

  &__sign-up {
    background-color: #F9C06A;
    border-radius: 30px;
    padding: 14px 27px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.9;
    }

    .sign-buttons__sign-link {
      text-decoration: none;
      color: variables.$main-white;
    }
  }

  &__sign-in .sign-buttons__sign-link {
    color: variables.$main-white;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}