@use "@/assets/styles/variables";
@use "@/assets/styles/mixins";

.feedback {
  padding: 40px 0;
  position: relative;

  @include mixins.vp-744 {
    padding: 80px 0;
  }

  &__swiper-back {
    background-color: variables.$background-yellow;
    border: 1px solid variables.$border-yellow;
    position: relative;

    .custom-container {
      position: relative;
    }
  }

  &__swiper {
    position: relative;
  }

  &__quotes-icon {
    position: absolute;
    top: 1rem;
    left: 1.5rem;

    @include mixins.vp-744 {
      top: 2rem;
    }
  }

  &__swiper-text {
    padding: 90px 65px 0 40px;
    display: flex;
    flex-direction: column;

    @include mixins.vp-744 {
      padding: 120px 80px;
    }
  }

  &__quote {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    color: variables.$main-gray;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mixins.vp-744 {
      font-size: 18px;
      line-height: 36px;
      margin-bottom: 28px;
      display: block;     
      -webkit-line-clamp: unset;   
      -webkit-box-orient: unset;
      overflow: visible;
      text-overflow: initial;
    }
  }

  &__user-name {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    color: variables.$main-base;
    text-align: center;
    margin-bottom: 8px;

    @include mixins.vp-744 {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }

  &__profession {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0;
    color: variables.$main-gray;
    text-align: center;

    @include mixins.vp-744 {
      font-size: 20px;
    }
  }

  &__btn-prev,
  &__btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: variables.$background-main-yellow;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 16px;
    color: variables.$main-base;
    cursor: pointer;
  }

  &__btn-prev {
    left: -20px; 
  }

  &__btn-next {
    right: -20px;
  }

  &__right-wave {
    display: none;
    
    @include mixins.vp-744 {
      display: block;
      position: absolute;
      top: 13%;
      right: 0;
      transform: none;
    }

    @include mixins.vp-1024 {
      top: 5%;
    }
  }

  &__left-wave {
    display: none;

    @include mixins.vp-744 {
      display: block;
      position: absolute;
      top: 67%;
      left: 0;
    }
  }

  &__avatar-container {
    position: relative;
    left: 31%;

    @include mixins.vp-744 {
      position: absolute; 
      top: 87%; 
      left: 43%;
    }
  }
}
