//@use "variables";

@forward "variables";
@forward "mixins";
@import 'normalize.css';

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

p, ul, h1 {
  margin: 0;
  padding: 0;
}

.custom-container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.main-box {
  background-color: #ffffff;
  padding: 52px 40px;
  border-radius: 30px;
}

@media (min-width: 576px) {
  .custom-container {
    max-width: 540px;
  }

  .main-box {
    padding: 39px 32px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 720px;
  }

  .main-box {
    padding: 39px 16px;
  }
}

@media (min-width: 992px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1140px;
  }
}

.main-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0;
  color: #603809;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.main-subtitle {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0;
  color: #707070;
  margin-bottom: 30px;
  text-align: center;
}