$main-black: #1C1C1C;
$main-white: #ffffff;
$main-red: #EC1C24;
$main-gray: #707070;
$main-base: #603809;
$hover-gray: #F8F8F8;
$hover-red: #DD1A21;
$text-black: #000000;
$border-gray: #D4D4D4;
$background-black: #222222;

// Viewport

$vp-360: 360px;
$vp-428: 428px;
$vp-744: 744px;
$vp-820: 820px;
$vp-915: 915px;
$vp-1024: 1024px;
$vp-1160: 1160px;
$vp-1200: 1200px;
$vp-1440: 1440px;
$vp-1920: 1921px;
